<section class="main__service">
  <div class="container page-service">
    <ul class="page-service__list service-list">
        <li class="service-list__item">
            <h3 class="service-list__title">Free Shipping</h3>
            <img src="../../../assets/img/service/package-box.svg" class="service-list__img" alt="">
            <p class="service-list__text">for all order over $99</p>
        </li>
        <li class="service-list__item">
            <h3 class="service-list__title">Friendly support</h3>
            <img src="../../../assets/img/service/customer-service.svg" class="service-list__img" alt="">
            <p class="service-list__text">24/7 Customer support</p>
        </li>
        <li class="service-list__item">
            <h3 class="service-list__title">Secure pament</h3>
            <img src="../../../assets/img/service/secure-shield.svg" class="service-list__img" alt="">
            <p class="service-list__text">100%  secure payment</p>
        </li>
        <li class="service-list__item">
            <h3 class="service-list__title">Shipping & return</h3>
            <img src="../../../assets/img/service/exchange.svg" class="service-list__img" alt="">
            <p class="service-list__text">within 30days for refund</p>
        </li>
    </ul>
  </div>
</section>
