<div class="page-main__promo page-promo">
  <div class="page-promo__categories">
    <p-slideMenu [model]="items" [viewportHeight]="440"></p-slideMenu>
  </div>
  <div class="page-promo__wrapper">
    <div class="page-promo__content">
      <header>
        <h2 class="heading">Best Product</h2>
        <h3 class="subheading">Dog Food</h3>
      </header>
      <p class="page-promo__text">Wusmod tempor incididu nt ut labore et dolore magna aliqua.</p>
      <a href="#" class="page-promo__link button">Shop Now</a>
    </div>
    <div class="page-promo__img">
      <!-- <img src="../../../assets/img/promo/1.png" alt=""> -->
      <img src="https://dummyimage.com/471x355/c9c9c9/ffffff.png" alt="">
    </div>
  </div>
</div>
