<header class="header">
  <div class="header__row container">
    <div class="header__column-logo logo">
      <a href="#" class="logo__link">
          <img src="../../../assets/img/header/logo.svg" alt="Logo Viserpet">
          <div class="logo__content">
            <span class="logo__title">ViserPet</span>
            <span class="logo__text">your best choose</span>
          </div>
      </a>
    </div>
    <div class="header__column-info column-info">
      <div class="column-info__phone phone">
          <img src="../../../assets/img/header/phone.svg">
          <div class="phone__content">
            <p class="phone__title">contact us</p>
            <a href="tel:00088889999" class="phone__link">000 - 8888 - 9999</a>
          </div>
      </div>
      <div class="column-info__email email">
          <img src="../../../assets/img/header/email.svg">
          <div class="email__content">
            <p class="email__title">email address</p>
            <a href="mailto:info@gmail.com" class="email__link">info@gmail.com</a>
          </div>
      </div>
    </div>
</div>
  <nav class="header__nav page-nav">
      <div class="page-nav__row container">
        <app-main-menu></app-main-menu>
        <ul class="page-nav__list user-list">
          <li class="user-list__item">
            <a href="#" class="user-list__link">
              <img src="../../../assets/img/header/favorite.svg">
            </a>
          </li>
          <li class="user-list__item">
            <a href="#" class="user-list__link">
              <img src="../../../assets/img/header/cart.svg">
            </a>
          </li>
          <li class="user-list__item">
            <a href="#" class="user-list__link">
              <img src="../../../assets/img/header/user.svg">
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="page-nav__search container">
      <form action="#" method="get" role="form" class="page-nav__form">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input type="search" pInputText placeholder="Search">
      </span>
      </form>
    </div>
</header>
