<section class="main__news">
  <div class="container page-news">
    <header class="page-news__header page-trending__header section-header">
        <h2 class="section-header__heading">Blog Post</h2>
        <h3 class="section-header__subheading">latest news post</h3>
    </header>
    <ul class="page-news__list news-list">
        <li class="news-list__item">
            <h3 class="news-list__title">
              <a href="#" class="news-list__link">amet occumsan fringilla molestie urna hendrerit</a>
            </h3>
            <img src="https://dummyimage.com/416x360/c9c9c9/ffffff.png" class="news-list__img" alt="">
            <time datetime="2022-05-18" class="news-list__date">
              <span>18</span>
              <span>may</span>
            </time>
        </li>
        <li class="news-list__item">
            <h3 class="news-list__title">
              <a href="#" class="news-list__link">Maecenas sed facilisis ipsum. Duis scelerisque mi magna</a>
            </h3>
            <img src="https://dummyimage.com/416x360/c9c9c9/ffffff.png" class="news-list__img" alt="">
            <time datetime="2022-05-22" class="news-list__date">
              <span>22</span>
              <span>may</span>
            </time>
        </li>
        <li class="news-list__item">
            <h3 class="news-list__title">
              <a href="#" class="news-list__link">Wenean vitae porttitor ante tempor posuere nisl.</a>
            </h3>
            <img src="https://dummyimage.com/416x360/c9c9c9/ffffff.png" class="news-list__img" alt="">
            <time datetime="2022-05-29" class="news-list__date">
              <span>29</span>
              <span>may</span>
            </time>
        </li>
    </ul>
  </div>
</section>
