<section class="page-main__trending page-trending">
  <header class="page-trending__header section-header">
    <h2 class="section-header__heading">special products</h2>
    <h3 class="section-header__subheading">trending Products</h3>
  </header>
  <ul class="page-trending__list trending-list">
    <li class="trending-list__item">
        <a href="#" class="trending-list__link">
            <span class="trending-list__chevron">sale</span>
            <h3 class="trending-list__title">Coco Kat Kitten Milk</h3>
            <img src="https://dummyimage.com/298x356/c9c9c9/ffffff.png" class="trending-list__img" alt="">
            <p class="trending-list__price"><span>$220</span> $180</p>
            <button type="button" class="trending-list__button"></button>
        </a>
    </li>
    <li class="trending-list__item">
        <a href="#" class="trending-list__link">
            <h3 class="trending-list__title">Moderna Scoop & Sift</h3>
            <img src="https://dummyimage.com/298x356/c9c9c9/ffffff.png" class="trending-list__img" alt="">
            <p class="trending-list__price"><span>$360</span> $310</p>
            <button type="button" class="trending-list__button"></button>
        </a>
    </li>
    <li class="trending-list__item">
        <a href="#" class="trending-list__link">
            <span class="trending-list__chevron">sale</span>
            <h3 class="trending-list__title">BonaCibo Kitten Pouch</h3>
            <img src="https://dummyimage.com/298x356/c9c9c9/ffffff.png" class="trending-list__img" alt="">
            <p class="trending-list__price"><span>$200</span> $180</p>
            <button type="button" class="trending-list__button"></button>
        </a>
    </li>
    <li class="trending-list__item">
        <a href="#" class="trending-list__link">
            <h3 class="trending-list__title">Versele-Laga Oropharma</h3>
            <img src="https://dummyimage.com/298x356/c9c9c9/ffffff.png" class="trending-list__img" alt="">
            <p class="trending-list__price"><span>$150</span> $330</p>
            <button type="button" class="trending-list__button"></button>
        </a>
    </li>
    <li class="trending-list__item">
        <a href="#" class="trending-list__link">
            <span class="trending-list__chevron">30%</span>
            <h3 class="trending-list__title">Coco Kat Kitten Milk</h3>
            <img src="https://dummyimage.com/298x356/c9c9c9/ffffff.png" class="trending-list__img" alt="">
            <p class="trending-list__price"><span>$290</span> $280</p>
            <button type="button" class="trending-list__button"></button>
        </a>
    </li>
    <li class="trending-list__item">
        <a href="#" class="trending-list__link">
            <h3 class="trending-list__title">Spectr Kitten38 Cat Food Chicke</h3>
            <img src="https://dummyimage.com/298x356/c9c9c9/ffffff.png" class="trending-list__img" alt="">
            <p class="trending-list__price"><span>$490</span> $480</p>
            <button type="button" class="trending-list__button"></button>
        </a>
    </li>
    <li class="trending-list__item">
        <a href="#" class="trending-list__link">
            <span class="trending-list__chevron">sale</span>
            <h3 class="trending-list__title">Naughty Cat Bentonite</h3>
            <img src="https://dummyimage.com/298x356/c9c9c9/ffffff.png" class="trending-list__img" alt="">
            <p class="trending-list__price"><span>$760</span> $630</p>
            <button type="button" class="trending-list__button"></button>
        </a>
    </li>
    <li class="trending-list__item">
        <a href="#" class="trending-list__link">
            <h3 class="trending-list__title">Moderna Trendy Story</h3>
            <img src="https://dummyimage.com/298x356/c9c9c9/ffffff.png" class="trending-list__img" alt="">
            <p class="trending-list__price"><span>$620</span> $520</p>
            <button type="button" class="trending-list__button"></button>
        </a>
    </li>
  </ul>
</section>
