
.icon-dog:before { content: '\e800'; } /* '' */
.icon-small-pet:before { content: '\e801'; } /* '' */
.icon-accessories:before { content: '\e802'; } /* '' */
.icon-rabbit:before { content: '\e803'; } /* '' */
.icon-parrot:before { content: '\e804'; } /* '' */
.icon-toys:before { content: '\e805'; } /* '' */
.icon-fish:before { content: '\e806'; } /* '' */
.icon-cat:before { content: '\e807'; } /* '' */
