<section class="main__arrivals page-arrivals">
  <header class="page-arrivals__header page-trending__header section-header">
    <h2 class="section-header__heading">special products</h2>
    <h3 class="section-header__subheading">new arrivals product</h3>
  </header>
  <div class="main__tabs tabs-list">
    <p-tabView>
      <p-tabPanel header="Cat">
        <ul class="page-trending__list trending-list">
          <li class="trending-list__item">
              <a href="#" class="trending-list__link">
                  <h3 class="trending-list__title">cat Coco Kat Kitten Milk</h3>
                  <img src="https://dummyimage.com/298x356/c9c9c9/ffffff.png" class="trending-list__img" alt="">
                  <p class="trending-list__price"><span>$220</span> $180</p>
                  <button type="button" class="trending-list__button"></button>
              </a>
          </li>
          <li class="trending-list__item">
              <a href="#" class="trending-list__link">
                  <h3 class="trending-list__title">cat Moderna Scoop & Sift</h3>
                  <img src="https://dummyimage.com/298x356/c9c9c9/ffffff.png" class="trending-list__img" alt="">
                  <p class="trending-list__price"><span>$360</span> $310</p>
                  <button type="button" class="trending-list__button"></button>
              </a>
          </li>
          <li class="trending-list__item">
              <a href="#" class="trending-list__link">
                  <h3 class="trending-list__title">cat BonaCibo Kitten Pouch</h3>
                  <img src="https://dummyimage.com/298x356/c9c9c9/ffffff.png" class="trending-list__img" alt="">
                  <p class="trending-list__price"><span>$200</span> $180</p>
                  <button type="button" class="trending-list__button"></button>
              </a>
          </li>
          <li class="trending-list__item">
              <a href="#" class="trending-list__link">
                  <h3 class="trending-list__title">cat Versele-Laga Oropharma</h3>
                  <img src="https://dummyimage.com/298x356/c9c9c9/ffffff.png" class="trending-list__img" alt="">
                  <p class="trending-list__price"><span>$150</span> $330</p>
                  <button type="button" class="trending-list__button"></button>
              </a>
          </li>
        </ul>
      </p-tabPanel>
      <p-tabPanel header="Dog">
        <ul class="page-trending__list trending-list">
          <li class="trending-list__item">
              <a href="#" class="trending-list__link">
                  <h3 class="trending-list__title">dog Coco Kat Kitten Milk</h3>
                  <img src="https://dummyimage.com/298x356/c9c9c9/ffffff.png" class="trending-list__img" alt="">
                  <p class="trending-list__price"><span>$220</span> $180</p>
                  <button type="button" class="trending-list__button"></button>
              </a>
          </li>
          <li class="trending-list__item">
              <a href="#" class="trending-list__link">
                  <h3 class="trending-list__title">dog Moderna Scoop & Sift</h3>
                  <img src="https://dummyimage.com/298x356/c9c9c9/ffffff.png" class="trending-list__img" alt="">
                  <p class="trending-list__price"><span>$360</span> $310</p>
                  <button type="button" class="trending-list__button"></button>
              </a>
          </li>
          <li class="trending-list__item">
              <a href="#" class="trending-list__link">
                  <h3 class="trending-list__title">dog BonaCibo Kitten Pouch</h3>
                  <img src="https://dummyimage.com/298x356/c9c9c9/ffffff.png" class="trending-list__img" alt="">
                  <p class="trending-list__price"><span>$200</span> $180</p>
                  <button type="button" class="trending-list__button"></button>
              </a>
          </li>
          <li class="trending-list__item">
              <a href="#" class="trending-list__link">
                  <h3 class="trending-list__title">dog Versele-Laga Oropharma</h3>
                  <img src="https://dummyimage.com/298x356/c9c9c9/ffffff.png" class="trending-list__img" alt="">
                  <p class="trending-list__price"><span>$150</span> $330</p>
                  <button type="button" class="trending-list__button"></button>
              </a>
          </li>
        </ul>
      </p-tabPanel>
      <p-tabPanel header="Fish">
        <ul class="page-trending__list trending-list">
          <li class="trending-list__item">
              <a href="#" class="trending-list__link">
                  <h3 class="trending-list__title">fish Coco Kat Kitten Milk</h3>
                  <img src="https://dummyimage.com/298x356/c9c9c9/ffffff.png" class="trending-list__img" alt="">
                  <p class="trending-list__price"><span>$220</span> $180</p>
                  <button type="button" class="trending-list__button"></button>
              </a>
          </li>
          <li class="trending-list__item">
              <a href="#" class="trending-list__link">
                  <h3 class="trending-list__title">fish Moderna Scoop & Sift</h3>
                  <img src="https://dummyimage.com/298x356/c9c9c9/ffffff.png" class="trending-list__img" alt="">
                  <p class="trending-list__price"><span>$360</span> $310</p>
                  <button type="button" class="trending-list__button"></button>
              </a>
          </li>
          <li class="trending-list__item">
              <a href="#" class="trending-list__link">
                  <h3 class="trending-list__title">fish BonaCibo Kitten Pouch</h3>
                  <img src="https://dummyimage.com/298x356/c9c9c9/ffffff.png" class="trending-list__img" alt="">
                  <p class="trending-list__price"><span>$200</span> $180</p>
                  <button type="button" class="trending-list__button"></button>
              </a>
          </li>
          <li class="trending-list__item">
              <a href="#" class="trending-list__link">
                  <h3 class="trending-list__title">fish Versele-Laga Oropharma</h3>
                  <img src="https://dummyimage.com/298x356/c9c9c9/ffffff.png" class="trending-list__img" alt="">
                  <p class="trending-list__price"><span>$150</span> $330</p>
                  <button type="button" class="trending-list__button"></button>
              </a>
          </li>
        </ul>
      </p-tabPanel>
      <p-tabPanel header="small pet">
        <ul class="page-trending__list trending-list">
          <li class="trending-list__item">
              <a href="#" class="trending-list__link">
                  <h3 class="trending-list__title">small pet Coco Kat Kitten Milk</h3>
                  <img src="https://dummyimage.com/298x356/c9c9c9/ffffff.png" class="trending-list__img" alt="">
                  <p class="trending-list__price"><span>$220</span> $180</p>
                  <button type="button" class="trending-list__button"></button>
              </a>
          </li>
          <li class="trending-list__item">
              <a href="#" class="trending-list__link">
                  <h3 class="trending-list__title">small pet Moderna Scoop & Sift</h3>
                  <img src="https://dummyimage.com/298x356/c9c9c9/ffffff.png" class="trending-list__img" alt="">
                  <p class="trending-list__price"><span>$360</span> $310</p>
                  <button type="button" class="trending-list__button"></button>
              </a>
          </li>
          <li class="trending-list__item">
              <a href="#" class="trending-list__link">
                  <h3 class="trending-list__title">small pet BonaCibo Kitten Pouch</h3>
                  <img src="https://dummyimage.com/298x356/c9c9c9/ffffff.png" class="trending-list__img" alt="">
                  <p class="trending-list__price"><span>$200</span> $180</p>
                  <button type="button" class="trending-list__button"></button>
              </a>
          </li>
          <li class="trending-list__item">
              <a href="#" class="trending-list__link">
                  <h3 class="trending-list__title">small pet Versele-Laga Oropharma</h3>
                  <img src="https://dummyimage.com/298x356/c9c9c9/ffffff.png" class="trending-list__img" alt="">
                  <p class="trending-list__price"><span>$150</span> $330</p>
                  <button type="button" class="trending-list__button"></button>
              </a>
          </li>
        </ul>
      </p-tabPanel>
    </p-tabView>
  </div>
</section>
